html{
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(images/IMG_2180.jpeg);
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
    color: white;
    font-family:-apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothicM, YuGothic, Meiryo,Windows, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    cursor :pointer;
}

a:visited{
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    z-index:1;
    background-color:black;
    height:60px;  
    position: fixed;
    width:100%;
}
.header h1{
    margin:10px;
}

.headerMenu{
    margin: 10px;
    margin-top:-11.5px;
}

.headerMenu p{
    line-height: 30px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    text-align: center;
    transition: 0.5s ease;
    display: block;
    padding: 10px;
    background : #333;
    cursor :pointer;
    margin-bottom: 0;
}

.headerMenu p:hover{
    transition: 0.5s ease;
    background : #6b6b6b;
}

.headerMenu ul{
    margin-top: 0;
    display: none;
    list-style: none;
    padding: 0;
    box-shadow: 7px 7px 5px black;
}

.headerMenu li{
    width: 100px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    background-color: #333;
}

.headerMenu li:hover{
    transition: 0.5s ease;
    color:#282828;
    background-color: lightgreen;
}

.textLogo{
    display: table;
    width: 100%;
    text-shadow: black 0 0 2px ,white 0 0 15px,white 0 0 15px;
    margin-top: 210px;
    height: 600px;
}

.textMain{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:70px;
}

.textSub{
    text-align: center;
    font-size: 20px;
}

.contents{
    background-color:#333;
    margin: 5%;
    padding: 1%;
    box-shadow: 7px 7px 5px black;
}

.contentsHeader{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
    border-bottom:solid 3px #838383;
}

.profile{
    width: 100%;
    margin:0;
    display: flex;
}

.profile img{
    height: 200px;
    margin:20px;
}

.name{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
    color: lightgreen;
}

.fabrication{
    width: 100%;
    margin:0;
    display: flex;
}

.fabrication img{
    height: 180px;
    width: 300px;
    margin:15px;
}

.fabrication iframe{
    height: 180px;
    width: 300px;
    margin:15px;
}

.notes {
    color: #838383;
}

.footer{
    z-index:1;
    padding-left:20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer h3{
    padding:10px;
    margin: 0;
}

.copyRight{
    color: #838383;
}

.footer img{
    margin-right:15px;
    border-radius: 10px;
    height:50px;
    width: 50px;
    background-color: #333;
}

@media screen and (max-width: 480px) {
    .header{
        height:45px;  
    }

    .header h1{
        margin:5px;
        margin-top:10px;
        font-size:20px;
    }
    
    .headerMenu{
        margin: 5px;
        margin-top:-11.5px;
    }

    .headerMenu p{
        line-height: 15px;
        width: 80px;
        height: 15px;
    }

    .headerMenu li{
        width: 80px;
        font-size:14px;
        height: 15px;
        line-height: 15px;
    }

    .textLogo{
        margin-top: 100px;
        height: 600px;
    }

    .textMain{
        font-size:35px;
    }
    
    .textSub{
        font-size: 15px;
    }

    .contentsHeader{
        font-size: 35px;
        margin-bottom: 0;
        margin-top:10px;
    }

    .profile{
        align-items: flex-start;
        flex-direction: column;
    }

    .profile img{
        margin:10px auto;
    }

    .name{
        font-weight: bold;
        font-size: 25px;
        margin:0;
    }

    .fabrication{
        align-items: flex-start;
        flex-direction: column;
    }

    .fabrication img{
        margin:10px auto;
    }

    .fabrication iframe{
        margin:10px auto;
    }

    .footer{
        padding:10px;
        padding-top: 0;
    }

    .linkImage{
        display: flex;
        justify-content: space-between;
    }

    .footer .links{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}